.dice-wrapper {

    height: 720px;
    width: 1280px;
    position: absolute;
    left: -240px;
    top: -482px;
    z-index: 2;
    animation-name: DiceWrapper;
    transition-duration: .2s;
    animation-duration: 4s;
    display: none;

    @keyframes DiceWrapper {

        0% {
            
            background-color: #00000000;
        
        }
        20% {
            
            background-color: #000000d9;

        }
        80% {
            
            background-color: #000000d9;

        }
        100% {
            
            background-color: #00000000;

        }

    }

    .cup {

        width: 300px;
        height: 400px;
        background-color: salmon;
        margin: 0 auto;
        animation-name: Cup;
        transition-duration: .2s;
        animation-duration: 4s;
        position: absolute;
        left: 0;
        right: 0;
        z-index: 3 !important;

        @keyframes Cup {

            0% {
                
                transform: translate(0, -500px) rotate(24deg);
            
            }
            20% {
                
                transform: translate(0, 150px);

            }
            30% {
                
                transform: translate(0, 150px);

            }
            32% {
                
                transform: translate(50px, 150px);

            }
            34% {
                
                transform: translate(-50px, 150px);

            }
            38% {
                
                transform: translate(50px, 150px);

            }
            42% {
                
                transform: translate(-50px, 150px);

            }
            50% {
                
                transform: translate(0, 150px);

            }
            60% {
                
                transform: translate(0, -500px) rotate(24deg);

            }
            100% {
                
                transform: translate(0, -500px) rotate(24deg);

            }
    
        }

    }

    .dice {

        width: 100px;
        height: 100px;
        background-color: wheat;
        margin: 0 auto;
        animation-name: Dice;
        transition-duration: .2s;
        animation-duration: 4s;
        margin-top: 300px;
        z-index: 2 !important;

        @keyframes Dice {

            0% {
                
                transform: translate(0, 500px) rotate(-24deg);
            
            }
            30% {
                
                transform: translate(0, 0);

            }
            79% {



            }
            65% {
                
                transform: scale(1);

            }
            75% {

                transform: scale(1.2);

            }
            85% {

                
                transform: scale(1);

            }
            100% {
                
                transform: translate(0, 500px) rotate(24deg);

            }
    
        }

        .number-dice {

            display: block;
            color: black;
            font-size: 22px;
            padding-top: 40px;
            text-align: center;

        }

    }

}

.battle-visualization {

    height: 400px;
    width: 1000px;
    position: absolute;
    left: -97px;
    top: -426px;
    z-index: 0;

    .battle-wrapper {

        .damage {

            color: #f00;
            font-size: 52px;
            position: absolute;
            left: 50px;
            top: -51px;
            opacity: 0;
            transition-duration: .2s;
            animation-name: DamageIndicator;
            animation-duration: 2s;
            z-index: 7;

            @keyframes DamageIndicator {
            
                0% {
            
                    opacity: 1;
            
                }
                100% {
            
                    top: -100px;
                    opacity: 0;
            
                }
            
            }

        }

    }

}

.images {

    width: 300px;
    height: 300px;
    position: absolute;
    top: 48px;
    margin: 0 auto;
    transition-duration: .2s;
    animation-duration: 2s;

}

.player-image {

    .player-customization {

        .t-shirt {

            z-index: 1;

        }

        .pants {

            z-index: 2;

        }

        .armor {

            z-index: 3;

        }

        .boot {

            z-index: 4;

        }

        .hand {

            z-index: 6;

        }


        .player-clothing {

            position: absolute;

        }

    }

    .player-weapon {

        position: absolute;
        top: -102px;
        left: -22px;
        width: 235px;
        transition-duration: .2s;
        animation-duration: 2s;
        z-index: 5;

    }

}

.enemy-image {

    right: 0;

}

.enemy-info {

    position: absolute;
    right: -78px;
    bottom: -4px;

}

/*Player Animations*/

/*Make Attack*/

.player-basic-attack {

    animation-name: PlayerBasicAttack;

    @keyframes PlayerBasicAttack {

        0% {
            
            transform: translateX(0px);
        
        }
        50% {

            transform: translateX(-100px) rotate(-12deg);

        }
        60% {
            
            transform: translateX(400px) rotate(12deg);
        
        }
        100% {
            
            transform: translateX(0px);

        }

    }

}

/*Recieve Damage*/

.player-recieve-basic-attack {

    animation-name: PlayerRecieveBasicAttack;

    @keyframes PlayerRecieveBasicAttack {

        59% {
            
            transform: translateY(0px);
            filter: none;
    
        }
        60% {
            
            transform: translateY(20px);
            filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-50deg) saturate(600%) contrast(0.8);
        
        }
        65% {
            
            transform: translateY(-20px);
    
        }
        70% {
            
            transform: translateY(20px);
    
        }
        75% {
            
            transform: translateY(0px);
            filter: none;
    
        }
    
    }

}

/*Spadita Animations*/

    .spadita-cutucadita {

        animation-name: SpaditaCutucatida;

        @keyframes SpaditaCutucatida {


            58% {
                
                transform: translateX(79px) translateY(60px) rotate(72deg);

            }
            60% {
                
   
            
            }

        }

    }

    .player-spadita-bate-volta {

        animation-name: PlayerSpaditaBateVolta;

        @keyframes PlayerSpaditaBateVolta {

            0% {
            
                transform: translateX(0px);
            
            }
            50% {
    
                transform: translateX(-100px);
    
            }
            60% {
                
                transform: translateX(100px);
            
            }
            100% {
                
                transform: translateX(0px);
    
            }

        }

    }

    .spadita-bate-volta {

        animation-name: SpaditaBateVolta;

        @keyframes SpaditaBateVolta {

            0% {
            
                transform: translateX(0px);
            
            }
            50% {
    
                transform: translateX(79px) translateY(60px) rotate(72deg);
    
            }
            60% {
                
                transform: translateX(583px) translateY(100px) rotate(90deg);
            
            }
            100% {
                
                transform: translateX(0px);
    
            }

        }

    }

    .player-spadita-cabecita {

        animation-name: PlayerSpaditaCabecita;

        @keyframes PlayerSpaditaCabecita {

            0% {
            
                
            
            }
            44% {

                transform:translateY(40px);

            }
            45% {

                transform: translateY(-500px);

            }
            50% {

                transform: translateX(750px) translateY(-500px);

            }
            60% {
                
                transform: translateX(750px) translateY(-200px);
            
            }
            65% {

                transform:  translateX(750px) translateY(-500px);

            }
            70% {

                transform: translateX(0) translateY(-500px);

            }
            75% {

                transform: translateX(0);

            }
            100% {
                
                transform: translateX(0px);
    
            }

        }

    }

    .spadita-cabecita {

        animation-name: SpaditaCabecita;

        @keyframes SpaditaCabecita {

            0% {
            
            }
            44% {

                transform: translateX(-4px) translateY(176px) rotate(180deg);

            }
            69% {

                transform: rotate(180deg);

            }
            85% {

                transform: rotate(0deg);

            }
            100% {
    
            }

        }

    }


/*Enemy Animations*/

/*Make Attack*/

.enemy-basic-attack {

    animation-name: EnemyBasicAttack;

    @keyframes EnemyBasicAttack {

        0% {
            
            transform: translateX(0px);
        
        }
        50% {

            transform: translateX(100px) rotate(12deg);

        }
        60% {
            
            transform: translateX(-400px) rotate(-12deg);
        
        }
        100% {
            
            transform: translateX(0px);

        }

    }

}

/*Recieve Damage*/

.enemy-recieve-basic-attack {

    animation-name: EnemyRecieveBasicAttack;

    @keyframes EnemyRecieveBasicAttack {

        59% {
            
            transform: translateY(0px);
            filter: none;

        }
        60% {
            
            transform: translateY(20px);
            filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-50deg) saturate(600%) contrast(0.8);
        
        }
        65% {
            
            transform: translateY(-20px);

        }
        70% {
            
            transform: translateY(20px);

        }
        75% {
            
            transform: translateY(0px);
            filter: none;

        }

    }

}