<p style="color: white;">castle-kitchen works!</p>

<img style="position: absolute;
top: 10%;
z-index: 2;
right: 20%;
width: 200px;" src="https://images-na.ssl-images-amazon.com/images/I/81EFM1%2BSdSL._AC_SL1500_.jpg" (click)="openChest('spadita')">

<img class="place-background" src="https://upload.wikimedia.org/wikipedia/commons/3/36/Kitchen_in_the_Castle_of_Valencay_02.jpg">

<button class="navigation-button" style="z-index: 1; position:relative;" [routerLink]="['/game/castle/hall']">Hall</button>

<img src="https://i.ytimg.com/vi/Wdw2jAZp6ns/maxresdefault.jpg" draggable="false" (click)="openChat()" style="position: absolute; bottom: 210px; width: 300px; right: 200px;">