<p style="z-index: 1; position:relative; color: white;">castle-hall works!</p>
<img class="place-background" src="https://www.allertoncastle.co.uk/content/1062/Live/image/great_hall.jpg">
<button class="navigation-button" style="z-index: 1; position:relative;" [routerLink]="['/game/castle/kitchen']">Kitchen</button>
<button class="navigation-button" style="z-index: 1; position:relative;" [routerLink]="['/game/castle/kitchen']">Kitchen</button>
<img src="https://media.discordapp.net/attachments/326104896619413521/777359939001778206/andador_de_elefante.png?width=660&height=660" draggable="false" (click)="openChat()" style="position: absolute; bottom: 210px; width: 300px; right: 200px;">