.player-hud {

    position: absolute;
    bottom: 22px;
    left: 22px;
    z-index: 1;

    .player-bars{

        

    }

    .player-picture {

        .picture {

            display: block;
            width: 80px;
            height: 80px;
            background-color: wheat;
            border-radius: 80px;
            margin-top: 8px;

        }

    }



}