.enemy-image {

    position: absolute;
    right: -750px;
    top: -34px;
    transition-duration: .4s;

}

.enemy-image-show {

    right: -156px;

}

.chat {

    color: white;
    background-color: #000000e7;
    border: 2px solid white;
    padding: 1rem;
    width: 800px;
    height: 200px;
    margin: 0 auto;
    position: absolute;
    bottom: -400px;
    left: 0;
    right: 0;
    z-index: 1;
    transition-duration: .2s;

    .enemy-name {

        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 2px;
        color: white;

    }

    .enemy-answers {

        cursor: pointer;
        padding: 12px;
        margin: 0;

        &:hover {

            background-color: #ffffff2c;

        }

    }

    .enemy-mensage {


    }

    .close-chat {

        position: absolute;
        top: -18px;
        right: -18px;

    }

}
.chat-open {

    bottom: 22px;
    transition-duration: .2s;

}