

<img [ngClass]="{'enemy-image-show':chatStatus && !battle}" class="enemy-image" [src]="enemy.image">

<div [ngClass]="{'chat-open':chatStatus}" class="chat">

    <!-- img src="https://media.discordapp.net/attachments/326104896619413521/778447279908585512/caixa.png" style="position: absolute;
    z-index: 1;
    left: -78px;
    top: -57px;" -->

    <div style="position: relative; z-index: 2;">

        <div *ngIf="!battle">

            <span class="enemy-name">{{ enemy.name }}</span>
            <p class="enemy-mensage">{{ chatMessage }}</p>

            <div *ngIf="firstInteraction && !enemy.defeated?.status">
                <p *ngFor="let answer of enemy.answers" class="enemy-answers" (click)="answerDialog(answer.reaction)">
                    {{ answer.answer }}
                </p>
            </div>

            <button class="close-chat" (click)="closeChat()">close chat</button>

        </div>

        <player-interface-battle [enemy]="enemy" (battleResult)="battleResult($event)" *ngIf="battle && !enemy.defeated?.status"></player-interface-battle>

    </div>

</div>